header{
    background-color: rgba(8, 234, 159, 0.56);
    padding: 10px;
}

form{
    background-color: white;
    padding: 10px;
    height: 600px;
    
}

.inputForm {
    
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    

}

.inputForm input[type="text"],
.inputForm input[type="email"],
.inputForm select {
        
    
    /* Altura deseada */
    padding: 10px;
    /* Padding interno */
    margin-bottom: 20px;
    
}


.selected {
    display: grid;
    grid-template-columns: repeat(8,1fr);
    /* Columnas de tamaño flexible */  
    margin-bottom: 30px; 
    margin-top: 30px;
}

.information {
    width: 20px;
    height:20px;
}

.submitBtn{
    border: none;
    color: black;
    padding: 10px 60px;
    cursor: pointer;
    border-radius: 3px;        
    margin: 5px ;
    background-color:rgba(8, 234, 159, 0.56) ;
    display: flex;
    justify-content: center;
}

.submitBtn:hover {
    background: #12a968;
}

/* El usuario esta sobre el enlace */
.submitBtn:active {
    background: rgba(8, 234, 159, 0.56);
}

.sectionSubmit{
    display: flex;
    justify-content: center;
}




